{% extends "base1.html" %}
{% block content %}
  <main class="container mt-3 pb-5">
    <div class="row mt-5">
      {% load crispy_forms_tags %}

      <div class="col-12 col-lg-8" style="margin: auto;">
        <div class="card">
          <div class="card-body px-4 pb-4">
            <!-- Tab -->
            <section class="tab-pane fade show active">
              <h2 class="h4 pt-2 pb-3">Создание новой компании</h2>
              {% if view %}
                <p class="alert alert-info" role="alert">
                  Компания успешно создана
                </p>
              {% endif %}
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-1">
                      <label class="mb-2 text-dark pb-2" for="companyName">Название компании</label>
                      {{ form.name|as_crispy_field }}
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group">
                      <label class="mb-2 text-dark" for="companyLogo">Логотип</label>
                      <div class="row align-items-center">
                        <div class="col-6">
                          <img src="https://place-hold.it/120x40" alt="" style="max-width: 120px; height: auto;">
                        </div>
                        <div class="col-6" style="top: 8px">
                          {{ form.logo|as_crispy_field }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-1">
                      <label class="mb-2 text-dark" for="companyTeam">Количество человек в компании</label>
                      {{ form.employee_count|as_crispy_field }}
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group pb-1">
                      <label class="mb-2 text-dark" for="companyLocation">География</label>
                      {{ form.location|as_crispy_field }}
                    </div>
                  </div>
                </div>
                <div class="form-group pb-1">
                  <label class="mb-2 text-dark" for="companyInfo">Информация о&nbsp;компании</label>
                  {{ form.description|as_crispy_field }}
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-info" value="Создать">
                </div>
              </form>
            </section>
            <!-- END Tab -->
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}